body, h1 { margin: 0; }

#page-content { padding: 0 10px; }

h1 { padding: 10px 0; }

#header { 
    height: 100px;   
}

.fullheight {
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.dropdowns {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.dash-dropdown {
}

@media (max-width: 850px) {
    #header { 
        height: 130px;   
    }

    .fullheight {
        height: calc(100vh - 130px);
        overflow-y: scroll;
    }
}

@media (max-width: 550px) {
    #header { 
        height: 160px;   
    }

    .fullheight {
        height: calc(100vh - 160px);
        overflow-y: scroll;
    }

    .dropdowns {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

@media (max-width: 450px) {
    h1 {font-size: 24px;}
}